# Armageddon: solver

## `solver` module
* Solve the system of differential equations describing meteoroid entry
* Calculate the kinetic energy lost per unit altitude
* Compute the burst altitude, burst energy and horizontal path length from the entry point

### Importing `Planet()` class

The class `Planet()` contains functions to solve the system of ordinary differential equations and analyse the outcomes.

The `__init__` function initial parameters and constants for the target planet, which is Earth in our case.

In [4]:
# import the class within the module and intialise

from armageddon.solver import Planet
earth = Planet()

The next function `solve_atmospheric_entry` is where we solve the system to generate an initial DataFrame.

In [6]:
result1 = earth.solve_atmospheric_entry(radius=35, angle=45,
                                       strength=1e7, density=3000,
                                       velocity=19e3)
result1

          velocity          mass      angle  ...      distance      radius   time
0     19000.000000  5.387831e+08  45.000000  ...      0.000000   35.000000   0.00
1     19000.346548  5.387831e+08  44.995098  ...    661.370490   35.000000   0.05
2     19000.693040  5.387831e+08  44.990195  ...   1322.878295   35.000000   0.10
3     19001.039476  5.387830e+08  44.985291  ...   1984.523449   35.000000   0.15
4     19001.385852  5.387830e+08  44.980385  ...   2646.305984   35.000000   0.20
...            ...           ...        ...  ...           ...         ...    ...
1238     77.534373  7.393132e+07  89.714825  ...  96803.453944  258.277621  61.90
1239     77.514817  7.393129e+07  89.716252  ...  96803.473240  258.277621  61.95
1240     77.495270  7.393126e+07  89.717670  ...  96803.492434  258.277621  62.00
1241     77.475734  7.393123e+07  89.719080  ...  96803.511527  258.277621  62.05
1242     77.456208  7.393120e+07  89.720481  ...  96803.530520  258.277621  62.10

[1243 rows x 7 columns]

One can choose a method to solve the ODE system as an input for `solve_atmospheric_entry`:
 * RK4
 * Foward-Euler

The next function `calculate_energy` is where we solve the system to generate an initial DataFrame.

In [7]:
result2 = earth.calculate_energy(result1)
result2

          velocity          mass      angle  ...      radius   time      dedz
0     19000.000000  5.387831e+08  45.000000  ...   35.000000   0.00 -0.000000
1     19000.346548  5.387831e+08  44.995098  ...   35.000000   0.05 -1.260322
2     19000.693040  5.387831e+08  44.990195  ...   35.000000   0.10 -1.260064
3     19001.039476  5.387830e+08  44.985291  ...   35.000000   0.15 -1.259782
4     19001.385852  5.387830e+08  44.980385  ...   35.000000   0.20 -1.259477
...            ...           ...        ...  ...         ...    ...       ...
1238     77.534373  7.393132e+07  89.714825  ...  258.277621  61.90  0.006919
1239     77.514817  7.393129e+07  89.716252  ...  258.277621  61.95  0.006916
1240     77.495270  7.393126e+07  89.717670  ...  258.277621  62.00  0.006912
1241     77.475734  7.393123e+07  89.719080  ...  258.277621  62.05  0.006909
1242     77.456208  7.393120e+07  89.720481  ...  258.277621  62.10  0.006905

[1243 rows x 8 columns]

The next function `analyse_outcome` is where we solve the system to generate an initial DataFrame.

In [8]:
outcome = earth.analyse_outcome(result2)
outcome

{'outcome': 'Airburst',
 'burst_peak_dedz': 2994.1523510101592,
 'burst_altitude': 10459.247706169299,
 'burst_distance': 89798.00494327919,
 'burst_energy': 16894.541385001165}